html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

form > div {
  padding: 0.5rem 0;
}

.kw-form-step {
  display: none;
}

.kw-form-step.active {
  display: flex;
}

input {
  display: block;
  width: 100% !important;
  padding: 0.5rem;
}

.intl-tel-input {
  width: 100%;
}

.intl-tel-input input,
.intl-tel-input input[type='text'],
.intl-tel-input input[type='tel'] {
  height: 35px;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  padding-left: 7px !important;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
  display: flex !important;
  height: 35px;
}

select {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* .kw-form-step  input{
  width: 100%;
} */

.kw-multistep-footer .kw-multistep-button-previous {
  float: left;
}

.kw-multistep-footer .kw-multistep-button-next,
.kw-multistep-footer .kw-multistep-button-submit {
  float: right;
}
